* { margin: 0; padding: 0; }
	
	body { background: #eee; }
	#container {
		width: 800px; height: 380px; margin: 50px auto; padding: 170px 0 0 0; text-align: center;
	}
	
	h1 {
		display: inline;
		position: relative;
		/*font-family: 'Audiowide', cursive;*/
		font: 4em 'Audiowide', Sans-Serif;
		/*font: 90px Helvetica, Sans-Serif;*/
		letter-spacing: -5px;
		color: rgba(0,0,255,0.5); 
	}
	
	h1:after {
		content: ">NEON_SEARCHLIGHT";
		position: absolute; left: 10px; top: 5px;
		color: rgba(255,0,0,0.5);   
	}

	h4 {
		/*font-family: 'Open Sans', sans-serif;*/
		font-family: 'Share Tech Mono', monospace;
	}

	h5 {
		/*font-family: 'Open Sans', sans-serif;*/
		font-family: 'Share Tech Mono', monospace;
	}

	a {
		font-family: 'Share Tech Mono', monospace;
		font-size: 40px;
	}

	button {
		background-color: #009BA1;
	}

	
/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}