html {
	/*height: 90%;*/
}

.container {
	background: none;
	position: relative;
	top: 0;
	left: 0;
}

.container-fluid {
	position: absolute;
	background-color: black;
	z-index: 5;
	height: 500px;
	background-size: cover;
}

img {
	height: 100%;
	width: 100%;
}

.words {
	padding-bottom: 100px;
	padding-top: 30px;
}

.prevnext {
	margin: 0 auto;
	display: inline;
}