html {
	height: 90%;
	background-image: url(../img/index.jpg);
	background-repeat: no-repeat;
}

body {
	padding-bottom: 60px;
}

.container {
	background: none;
	position: relative;
	top: 0;
	left: 0;
}

.container-fluid {
	position: absolute;
	background-color: black;
	z-index: 5;
	height: 500px;
	/*background:url(../img/index.jpg);*/
	background-size: cover;
}

img {
	height: 100%;
	width: 100%;
}

.words {
	padding-bottom: 50px;
}